@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}
::selection {
  box-shadow: none;
  background: rgba(196, 191, 191, 0.87);
}
a {
  text-decoration: none;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 18px;
}
p {
  font-size: 15px;
}
p,
h1,
h2 {
  margin: 0;
}
input,
select {
  border-radius: 6px;
  padding: 0 10px;
}
select option:hover {
  background: #000;
}
#search {
  transition: all 0.6s ease;
  border: 1px solid #000;
}
#search:focus-within,
#search.input:focus {
  border-radius: 0px;
  border-width: 2px;
  min-width: 260px;
}
.error {
  color: #f71f1f;
  padding: 20px;
}
.wrap {
  background-color: #f9f9f9;
  min-height: 100vh;
  width: 100%;
}
.container-inner {
  flex-direction: column;
  padding: 35px 40px;
  position: relative;
  margin: 0 auto;
  display: flex;
  width: auto;
}
.header {
  justify-content: center;
  align-items: center;
  background: #000;
  position: relative;
  display: flex;
  width: 100%;
}
.logo {
  position: absolute;
  color: #e5c8bc;
  font-size: 24px;
  left: 40px;
}

nav .menu {
  text-align: center;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
nav .menu li a {
  text-decoration: none;
  padding: 20px 40px;
  font-weight: 600;
  color: #9e9e9e;
  display: block;
  outline: none;
}
nav .menu li a.active,
nav .menu li a:hover {
  color: #fff;
}

.btn {
  border: 1px solid #000;
  text-align: center;
  padding: 10px 20px;
  border-radius: 7px;
  background: #000;
  font-weight: 600;
  min-width: 80px;
  cursor: pointer;
  color: #fff;
}
.btn:hover {
  background: #fff;
  color: #000;
}
/* Table */

.table {
  margin: 0 0 20px;
}
.table table {
  border-collapse: collapse;
  width: 100%;
}
.table tr {
  background: #fff;
  width: 100%;
}
.table th {
  border: 1px solid #999;
  background: #333;
  color: #fff;
  padding: 10px;
}
.table td {
  border: 1px solid #999;
  text-align: center;
  padding: 5px 0;
  height: 30px;
}

.table img {
  height: 30px;
  width: 30px;
}

.table .edit,
.table .delete,
.table .set-date {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 24px;
  cursor: pointer;
  opacity: 1;
}
.table .edit:hover,
.table .delete:hover,
.table .set-date:hover {
  opacity: 0.5;
}
.table .edit {
  background-image: url("../images/icons/edit.svg");
}
.table .delete {
  background-image: url("../images/icons/delete.svg");
}
.table .set-date {
  background-image: url("../images/icons/put.svg");
}

.content .forms {
  justify-content: space-between;
  padding: 20px 0;
  display: flex;
}
.content .forms .item {
  align-items: center;
  display: flex;
  height: 40px;
}
.content .forms .item label {
  padding: 0 10px 0 0;
  font-size: 18px;
}
.content .forms .item select,
.content .forms .item input {
  min-width: 180px;
  margin: 0 10px;
  height: 30px;
}
.content .forms .item .btn {
  padding: 5px 0;
}
/* Books */
.books .content .content-head {
  border-bottom: 1px solid #999;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  display: flex;
}
.books .content .modal {
  border: 1px solid #000;
  border-radius: 10px;
  background: #fff;
  position: absolute;
  align-self: center;
  display: none;
  padding: 20px;
  height: auto;
  min-width: auto;
  z-index: 10;
  top: 40%;
}
.books .content .modal h2 {
  margin-bottom: 20px;
  text-align: center;
}
.books .modal form {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  width: auto;
}
.books .modal .item {
  justify-content: space-between;
  margin: 10px 0;
  display: flex;
  height: auto;
  width: 400px;
}
.books .modal .item input {
  height: 30px;
  width: 60%;
}
.books .modal .btn {
  text-transform: capitalize;
  margin-top: 20px;
}
.books .modal .close {
  border-top-right-radius: 6px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
  position: absolute;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  width: 20px;
  height: 20px;
  right: 0;
  top: 0;
}
.books .modal .close:hover {
  color: #f71f1f;
}

.modal select {
  width: 70%;
  height: 30px;
}
.hiden {
  display: none;
}

.statistics h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
}
